<h1>{{ editHero ? "Atualizando" : "Novo" }} Herói</h1>

<mat-card>
  <mat-card-content fxLayout="column">
    <mat-form-field *ngIf="editHero">
      <mat-label>ID</mat-label>
      <input matInput disabled [value]="hero.id" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Herói</mat-label>
      <!--NG MODEL PEGA O VALOR DO INPUT E COLOCA NA VARIAVEL ESPECIFICADA-->
      <input
        id="nome"
        matInput
        [(ngModel)]="hero.nome"
        placeholder="Nome"
        type="text"
        required
      />
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions align="start">
    <button
      mat-button
      matTooltip="Salvar"
      mat-mini-fab
      *ngIf="editHero"
      [disabled]="!hero.nome.trim()"
      (click)="atualizar()"
    >
      <mat-icon>done</mat-icon>
    </button>
    <button
      mat-button
      matTooltip="Salvar"
      mat-mini-fab
      *ngIf="!editHero"
      [disabled]="!hero.nome.trim()"
      (click)="criar()"
    >
      <mat-icon>add</mat-icon>
    </button>
    <button mat-button matTooltip="Voltar" mat-mini-fab (click)="voltar()">
      <mat-icon>arrow_back</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
