mat-row {
  cursor: pointer;
}

.mat-column-id {

  max-width: 60px;

}

.mat-column-acao {

  max-width: 60px;

}



mat-row:hover {
  font-weight: bold;
  background-color: whitesmoke;

  transition: 0.2s;

}

.btn {
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end;
}
