<app-pesquisa-hero [label]="'Pesquisa de heróis'" (selected)="onSelected($event)"></app-pesquisa-hero>

<div class="btn">
  <button
    class="btn_add"
    mat-mini-fab
    matTooltip="Adicionar herói"
    [routerLink]="['new']"
  >
    <mat-icon>add</mat-icon>
  </button>
</div>

<mat-table [dataSource]="heroes" class="mat-elevation-z8">
  <!-- ID Definition -->
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{ row.id }} </mat-cell>
  </ng-container>

  <!-- NOME Definition -->
  <ng-container matColumnDef="nome">
    <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{ row.name }} </mat-cell>
  </ng-container>

  <!-- Ação Definition -->
  <!--$event.stopPropagation = QUANDO EU CLICAR NO BOTÃO, NADA
  QUE ESTEJA FORA DO BUTTON VAI SER EXECUTADO -->
  <ng-container matColumnDef="acao">
    <mat-header-cell *matHeaderCellDef> Ação </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <button
        mat-icon-button
        matTooltip="Apagar herói"
        (click)="deleteHero(row); $event.stopPropagation()"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <!-- Header and Row Declarations -->
  <mat-header-row *matHeaderRowDef="colunas"></mat-header-row>
  <mat-row
    routerLink="/heroes/{{ row.id }}"
    *matRowDef="let row; columns: colunas"
  ></mat-row>
</mat-table>
