<h1>Meus herois</h1>
<div *ngIf="!heroes.length">
  <mat-progress-bar mode="indeterminate" color="warn"></mat-progress-bar>
</div>
<mat-table [dataSource]="heroes" class="mat-elevation-z8">
  <!-- ID Definition -->
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{ row.id }} </mat-cell>
  </ng-container>

  <!-- NOME Definition -->
  <ng-container matColumnDef="nome">
    <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{ row.nome }} </mat-cell>
  </ng-container>

  <!-- Header and Row Declarations -->
  <mat-header-row *matHeaderRowDef="colunas"></mat-header-row>
  <mat-row
    routerLink="/heroes/{{ row.id }}"
    *matRowDef="let row; columns: colunas"
  ></mat-row>
</mat-table>
